<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="WhyAreYou"
			 value="Every day or so, I automatically update people's DD roles.\r\nFor example, if someone beats their score of 300s and gets 400s, I update their role from `300+ club` to `400+ club`.\r\nTo speed this up, you can manually update your own or someone else's roles by using the `+pb` or `+updateroles` command."/>
		<add key="Prefix" value="+"/>
		<add key="CheaterRoleId" value="693432614727581727"/>
		<add key="UnregisteredRoleId" value="728663492424499200"/>
		<add key="RoleAssignerRoleId" value="611855024653336606"/>
		<add key="ClubberExceptionsChannelId" value="800012212532936714"/>
		<add key="DatabaseBackupChannelId" value="801407839590547497"/>
		<add key="TestingChannelId" value="447487662891466752"/>
		<add key="RegisterChannelId" value="794272915842662430"/>
		<add key="DdPalsId" value="399568958669455364"/>
		<add key="CronUpdateChannelId" value="794218054724091915"/>
		<add key="DdPalsRegisterChannelId" value="794272915842662430"/>
		<add key="LbEntriesCacheChannelId" value="879460681185910824"/>
		<add key="DdNewsChannelId" value="414461458693488650"/>
	</appSettings>
</configuration>
