@inject NavigationManager NavigationManager

<a class="custom-link cursor-pointer font-semibold" @onclick="ReloadPage">@Text</a>

@code {

	[Parameter]
	public string? Text { get; set; }

	private void ReloadPage()
	{
		NavigationManager.NavigateTo(NavigationManager.Uri, true);
	}

}
